<%= render 'shared/header' %>
<%= render 'shared/header_bg' %>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <%= render 'shared/messages' %>
  <h4 class="text-center">Resend confirmation instructions</h4>
  <div class="row text-center">
    <div class="form-group">
      <%= f.text_field :email, id: 'exampleInputEmail1', autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>
      <div class="at-btnarea">
        <button id="form_submit" type="submit" class="at-btn mt-2">Resend confirmation instructions</button>
        <%#= render "users/shared/links" %>
      </div>
    </div>
  </div>
<% end %>
