<%= form_for(booking, url: url, method: method, html: { id: 'user_booking_form' }) do |form| %>
  <%= render 'shared/messages' %>
  <%= form.hidden_field :status, value: 'paid'  %>
  <div class="row">
    <div class="form-group col-sm-12">
      <%= form.label t('booking.student'), class:"col-form-label" %>
      <%= select_tag("booking[user_id]", options_for_select(User.students.pluck(:email, :id)), class: "form-control selectpicker", include_blank: t('booking.select_student')) %>
    </div>
    <div class="form-group col-sm-12">
      <%= form.label t('booking.property'), class:"col-form-label" %>
      <%= select_tag(:apartment, options_for_select(Apartment.available.pluck(:title, :id)), class: "form-control selectpicker", include_blank: t('booking.select_property')) %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6">
      <%= form.label t('booking.start_date'), class:"col-form-label" %>
      <%= form.text_field :start_date, class: 'form-control datepicker', id: 'startdate' %>
    </div>
    <div class="form-group col-sm-6">
      <%= form.label t('booking.end_date'), class:"col-form-label" %>
      <%= form.text_field :end_date, class: 'form-control datepicker', id: 'enddate' %>
    </div>
  </div>
  <%= form.hidden_field 'booking[status]', value: 'paid' %>
  <div class="actions text-right">
    <%= link_to 'Back', admin_bookings_path, class: 'btn btn-dark' %>
    <%= form.submit t('booking.book_now'), class:"btn btn-success" %>
  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function (e) {
    DatePicker.init();
    startDate = document.getElementsByClassName("datepicker");
    for (let i = 0; i <= startDate.length; i++) {
      if (null != startDate[i]) new Lightpick({
        minDate: new Date(),
        field: startDate[i],
        onSelect: function (date) {
          startDate[i].innerHTML = date.format('Do MMMM YYYY');
        }
      });
    }
    $('.selectpicker').selectpicker();
  });
</script>
