<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= t('dashboard.bookings') %></h3>
        </div>
        <div class="card-body">
          <div id="bootstrap-data-table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            
              <div class="table-responsive">
                <table id="bootstrap-data-table" class="table table-bordered dataTable no-footer"
                  role="grid" aria-describedby="bootstrap-data-table_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="bootstrap-data-table"><%= t('booking.property_name') %></th>
                      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table"><%= t('booking.start_date') %></th>
                      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table"><%= t('booking.end_date') %></th>
                      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" style="width:150px; text-align:center;"><%= t('booking.status') %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @bookings.each do |booking| %>
                      <tr role="row" class="odd">
                        <td><%= booking&.apartment_title %></td>
                        <td><%= date_format(booking&.start_date) %></td>
                        <td><%= date_format(booking&.end_date) %></td>
                        <td align="center"><%= booking&.status %></td>
                      </tr>
                    <% end %>
                    </tr>
                  </tbody>
                </table>
              </div>
           
            <div class="row">
              <%= paginate @bookings %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
