<div id="at-homesilder-holder" class="at-homeslider-holder at-haslayout">
  <div class="at-homeslidervideo">
    <%= image_tag image_path('slider-imgs/img-02.jpg') %>
  </div>
  <div class="at-home-banner at-home-banner-two at-haslayout">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-12 push-md-0 col-lg-10 push-lg-1 col-xl-8 push-xl-2">
          <div class="at-slider-header">
            <div class="at-title">
              <h1><span>Find Exotic &amp; Affordable</span>Accomodation Instantly</h1>
            </div>
            <div class="at-description">
              <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisiut aliquip</p>
            </div>
          </div>
        </div>
        <%= render 'apartments/search_header'%>
      </div>
    </div>
  </div>
</div>

<!-- Main Start -->
<main id="at-main" class="at-main at-haslayout">
  <!-- Recommended Section Start -->
  <section class="at-haslayout at-main-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 push-md-0 col-lg-10 push-lg-1 col-xl-8 push-xl-2">
          <div class="at-sectionhead">
            <div class="at-sectiontitle">
              <h2>Recommended For You</h2>
              <span>Start Your Trip With Memory</span>
            </div>
            <div class="at-description">
              <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisiut aliquip</p>
            </div>
          </div>
        </div>
        <div class="at-recommended-gallery at-haslayout">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
            <div class="tr-trip-imgs">
              <figure>
                <a href="javascript:void(0)">
                  <%= image_tag image_path('trip-imgs/img-01.jpg') %>
                </a>
                <figcaption>
                  <div class="at-trip-content">
                    <h3>United Emirates</h3>
                    <h4>$113 <span>(Starting From)</span></h4>
                  </div>
                </figcaption>
              </figure>
              <figure>
                <a href="javascript:void(0)">
                  <%= image_tag image_path('trip-imgs/img-02.jpg') %>
                </a>
                <figcaption>
                  <div class="at-trip-content">
                    <h3>China</h3>
                    <h4>$168 <span>(Starting From)</span></h4>
                  </div>
                </figcaption>
              </figure>
              <figure>
                <a href="javascript:void(0)">
                  <%= image_tag image_path('trip-imgs/img-03.jpg') %>
                </a>
                <figcaption>
                  <div class="at-trip-content">
                    <h3>Sydney</h3>
                    <h4>$140 <span>(Starting From)</span></h4>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
            <div class="tr-trip-imgs">
              <figure>
                <a href="javascript:void(0)">
                  <%= image_tag image_path('trip-imgs/img-04.jpg') %>
                </a>
                <figcaption>
                  <div class="at-trip-content">
                    <h3>Chicago</h3>
                    <h4>$120 <span>(Starting From)</span></h4>
                  </div>
                </figcaption>
              </figure>
              <figure>
                <a href="javascript:void(0)">
                  <%= image_tag image_path('trip-imgs/img-05.jpg') %>
                </a>
                <figcaption>
                  <div class="at-trip-content">
                    <h3>United Kingdom</h3>
                    <h4>$240 <span>(Starting From)</span></h4>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
            <div class="tr-trip-imgs">
              <figure>
                <a href="javascript:void(0)">
                  <%= image_tag image_path('trip-imgs/img-06.jpg') %>
                </a>
                <figcaption>
                  <div class="at-trip-content">
                    <h3>New York</h3>
                    <h4>$170 <span>(Starting From)</span></h4>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-last-child float-left">
            <div class="tr-trip-imgs">
              <figure>
                <a href="javascript:void(0)">
                  <%= image_tag image_path('trip-imgs/img-07.jpg') %>
                </a>
                <figcaption>
                  <div class="at-trip-content">
                    <h3>Rome</h3>
                    <h4>$180 <span>(Starting From)</span></h4>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 at-btnarea-mt float-left">
            <div class="at-btnarea">
              <a href="javascript:void(0);" class="at-btn">View All</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Recommended Section Start -->
  <!-- Top Categories Start -->
  <section class="at-haslayout at-main-section at-sectionbg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 push-md-0 col-lg-10 push-lg-1 col-xl-8 push-xl-2">
          <div class="at-sectionhead">
            <div class="at-sectiontitle">
              <h2>Explore Top Categories</h2>
              <span>Quick Way To Be There</span>
            </div>
            <div class="at-description">
              <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisiut aliquip</p>
            </div>
          </div>
        </div>
        <div class="at-category-gallery at-haslayout">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
            <a href="javascript:void(0);">
              <figure class="at-category-img">
                <%= image_tag image_path('category/img-01.jpg') %>
                <figcaption><h3>Apartments</h3><span>12,568 Listings</span></figcaption>
              </figure>
            </a>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
            <a href="javascript:void(0);">
              <figure class="at-category-img">
                <%= image_tag image_path('category/img-02.jpg') %>
                <figcaption><h3>Apartments</h3><span>12,568 Listings</span></figcaption>
              </figure>
            </a>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
            <a href="javascript:void(0);">
              <figure class="at-category-img">
                <%= image_tag image_path('category/img-03.jpg') %>
                <figcaption><h3>Apartments</h3><span>12,568 Listings</span></figcaption>
              </figure>
            </a>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
            <a href="javascript:void(0);">
              <figure class="at-category-img">
                <%= image_tag image_path('category/img-04.jpg') %>
                <figcaption><h3>Apartments</h3><span>12,568 Listings</span></figcaption>
              </figure>
            </a>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
            <a href="javascript:void(0);">
              <figure class="at-category-img">
                <%= image_tag image_path('category/img-05.jpg') %>
                <figcaption><h3>Apartments</h3><span>12,568 Listings</span></figcaption>
              </figure>
            </a>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
            <a href="javascript:void(0);">
              <figure class="at-category-img">
                <%= image_tag image_path('category/img-06.jpg') %>
                <figcaption><h3>Apartments</h3><span>12,568 Listings</span></figcaption>
              </figure>
            </a>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left at-btnarea">
            <a href="javascript:void(0);" class="at-btn">View All</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- Main End -->