<table class="table table-sm">
  <thead>
    <tr>
      <td><strong><%= t('invoice.apartment_name') %></strong></td>
      <td class="text-xs-center"><strong><%= t('invoice.subscription_date') %></strong></td>
      <td class="text-xs-center"><strong><%= t('invoice.expiration_date') %></strong></td>
      <td class="text-xs-center"><strong><%= t('invoice.amount') %></strong></td>
      <td class="text-xs-center"><strong><%= t('invoice.payment_status') %></strong></td>
      <td class="text-xs-right"><strong><%= t('invoice.total') %></strong></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @invoice.apartment_title %></td>
      <td class="text-xs-center"><%= date_format(@subscription&.started_at) %></td>
      <td class="text-xs-center"><%= date_format(@subscription&.expired_at) %></td>
      <td class="text-xs-center"><%= "€#{check_float(@invoice&.amount)}" %></td>
      <td class="text-xs-center"><%= @subscription&.payment_status %></td>
      <td class="text-xs-right"><%= "€#{check_float(@invoice&.amount)}" %></td>
    </tr>
    <tr>
      <td class="emptyrow"></td>
      <td class="emptyrow"></td>
      <td class="emptyrow"></td>
      <td class="emptyrow"></td>
      <td class="emptyrow text-xs-center"><strong><%= t('invoice.paid') %></strong></td>
      <td class="emptyrow text-xs-right"><%= "€#{check_float(@invoice&.amount)}" %></td>
    </tr>
    <tr>
      <td class="emptyrow"></td>
      <td class="emptyrow"></td>
      <td class="emptyrow"></td>
      <td class="emptyrow"></td>
      <td class="emptyrow text-xs-center"><strong><%= t('invoice.balance_due') %></strong></td>
      <td class="emptyrow text-xs-right"><%= "€#{check_float(@invoice.balance_due)}" %></td>
    </tr>
  </tbody>
</table>