<div class="col-12 col-sm-12 col-md-12 at-btnarea-mt float-left mt-2">
  <%= link_to new_landlord_apartment_path, class: 'btn btn-sm at-btn pull-right' do %>
    <i class="menu-icon fa fa-plus"></i> <%= t('landlord.add_property') %>
  <% end %>
</div>
<%= render template: 'landlord/bookings/index' %>
<%= render template: 'invoices/index' %>
<%= render template: 'landlord/apartments/index' %>
