<% @bookings.each do |booking| %>
<div class="col-12 col-md-6 col-lg-12 col-xl-6">
  <div class="at-article">
    <div class="at-article-content">
      <div class="at-featured-tags"></div>
      <div class="at-title">
        <h4>Accomodation: <a href="<%= apartment_path(booking&.apartment) %>"><%= booking&.apartment&.title&.humanize %></a></h4>
        <span><i class="ti-calendar"></i> Booked On: <%= display_date(booking.created_at) %></span>
      </div>
      <div class="at-description">
        <span><i class='ti-stats-up'></i> Booking Status: <%= booking&.status&.humanize %></span><br>
        <span><i class="ti-calendar"></i> Booking From: <%= display_date(booking&.start_date) %> To: <%= display_date(booking&.end_date) %></span><br>
        <span><i class='ti-user'></i> Landlord Name: <%= booking&.apartment&.landlord_name %></span><br>
        <span><i class='ti-mobile'></i> Landlord Contact: <%= booking&.apartment&.user_phone_no %></span>
      </div>
    </div>
  </div>
</div>
<% end %>