<div class="horizontal-main-wrapper">
<!-- main header area start -->
<div class="mainheader-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="logo">
          <%= link_to root_url do%>
            <%= image_tag image_path('logo.png') %>
          <% end %>
        </div>
      </div>
      <!-- profile info & task notification -->
      <div class="col-md-9 clearfix text-right">
        <div class="d-md-inline-block d-block mr-md-4">
        </div>
        <div class="clearfix d-md-inline-block d-block">
          <div class="user-profile m-0">
            <%= image_tag image_path('avatar.png'), class: "avatar user-thumb user-name dropdown-toggle" %>
            <h4 class="user-name dropdown-toggle" data-toggle="dropdown"><%= current_user.firstname %><i class="fa fa-angle-down"></i></h4>
            <div class="dropdown-menu">
              <%= link_to "Settings", edit_user_registration_path, class: 'dropdown-item' %>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
