<div id="main-menu" class="main-menu collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <% active_tab = active_link_to_tab %>
    <li class=<%= "active" if active_tab == 'dashboard' %>>
      <%= link_to landlord_dashboard_path do %>
        <i class="menu-icon fa fa-dashboard"></i><%= t('dashboard.dashboard') %>
      <% end %>
    </li>
    <li class=<%= "active" if active_tab == 'bookings' %>>
      <%= link_to landlord_bookings_path do %>
        <i class="menu-icon fa fa-th-list"></i><%= t('dashboard.bookings') %>
      <% end %>
    </li>
    <li class=<%= "active" if active_tab == 'invoices' %>>
      <%= link_to landlord_invoices_path do %>
        <i class="menu-icon fa fa-bookmark"></i><%= t('dashboard.invoices') %>
      <% end %>
    </li>
    <li class=<%= "active" if active_tab == 'apartments' %>>
      <%= link_to landlord_apartments_path do %>
        <i class="menu-icon fa fa-home"></i><%= t('dashboard.properties') %>
      <% end %>
    </li>
    <li>
      <%= link_to landlord_rooms_path do %>
        <i class="menu-icon fa fa-commenting-o"></i><%= t('dashboard.my_inquiries') %>
      <% end %>
    </li>
  </ul>
</div>
