<!-- Header-->
<header id="header" class="header">
  <div class="header-menu row">
    <div class="col-sm-5">
      <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
    </div>

    <div class="col-sm-7 text-right">
      
          <%= link_to about_us_path, class: 'ml-4' do %>
            <i class="fa fa-address-card mr-2"></i>About Us
          <% end %>
          <%= link_to contact_us_path, class: 'ml-4' do %>
            <i class="fa fa-comments mr-2"></i>Contact Us
          <% end %>
          <%= link_to edit_profile_url, class: 'ml-4' do %>
            <% if current_user.image.present? %>
              <%= image_tag url_for(current_user.image), class: "user-avatar rounded-circle float-left mr-2" %>
            <% else %>
              <i class="fa fa-user mr-2"></i>
            <% end %>
            <%= current_user&.fullname %>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: 'ml-4' do %>
            <i class="fa fa-power-off"></i> <%= t('dashboard.signout') %>
          <% end %>
        
    </div>
  </div>
</header>
<!-- /header -->
