<!-- Header-->
<header id="header" class="header">
  <div class="header-menu">
    <div class="col-sm-7">
      <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
    </div>

    <div class="col-sm-5">
      <div class="user-area dropdown float-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.image.present? %>
            <%= image_tag url_for(current_user.image), class: "user-avatar rounded-circle float-left mr-2" %>
          <% else %>
            <i class="fa fa-user mr-2"></i>
          <% end %>
          <%= current_user&.fullname %>
        </a>
        <div class="user-menu dropdown-menu">
          <%= link_to edit_user_registration_path, class: "nav-link" do %>
            <i class="fa fa-user"></i> <%= t('dashboard.edit_profile') %>
          <% end %>
          <%= link_to destroy_user_session_path, class: "nav-link", method: :delete do %>
            <i class="fa fa-power-off"></i> <%= t('dashboard.signout') %>
          <% end %>
        </div>
      </div>
      <%= link_to destroy_user_session_path, class: "nav-link", method: :delete do %>
        <i class="fa fa-power-off"></i> <%= t('dashboard.signout') %>
      <% end %>
    </div>
  </div>
</header>
<!-- /header -->