<!-- Main Start -->
<main id="at-main" class="at-main at-haslayout pb-0">
  <!-- Success Year Section Start -->
  <section class="at-haslayout py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-6">
          <figure class="at-success-img">
            <%= image_tag "about/img-05.jpg", alt: "img description" %>
          </figure>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
          <div class="at-success-content">
            <div class="at-title">
              <h2><em>25</em><span>Years of Experience and Success</span></h2>
            </div>
            <div class="at-description">
              <p><em>Bonapart was started in 1997 as a free paper-cover catalog with rental opportunities for students in the Fontainebleau campus. Up to this day, Bonapart remains the sole direct platform between owners and students offering the widest range of options</em></p>
            </div>
            <ul class="at-successinfo">
              <li>
                <figure><%= image_tag "about/img-04.jpg", alt: "img description" %></figure>
                <div class="at-successcontent"><h4>No agency fee</h4></div>
              </li>
              <li>
                <figure><%= image_tag "about/img-02.jpg", alt: "img description" %></figure>
                <div class="at-successcontent"><h4>Easy to find properties</h4></div>
              </li>
              <li>
                <figure><%= image_tag "about/img-03.jpg", alt: "img description" %></figure>
                <div class="at-successcontent"><h4>Wide range of available options </h4></div>
              </li>
              <li>
                <figure><%= image_tag "about/img-01.jpg", alt: "img description" %></figure>
                <div class="at-successcontent"><h4>24/7 support</h4></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Success Year Section End -->
  <!-- Stat Section Start -->
  <section class="at-haslayout at-main-section at-sectionbg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 push-md-0 col-lg-10 push-lg-1 col-xl-8 push-xl-2">
          <div class="at-sectionhead">
            <div class="at-sectiontitle">
              <h2>Our performance </h2>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div id="at-counter-holder" class="at-counter-holder row">
            <div class="at-counter-content col-sm-4">
              <figure><%= image_tag "counter/img-01.jpg", alt: "img description" %></figure>
              <div class="at-title">
                <h3>100</h3>
                <span>More than 100 active properties</span>
              </div>
            </div>
            <div class="at-counter-content col-sm-4">
              <figure><%= image_tag "counter/img-02.jpg", alt: "img description" %></figure>
              <div class="at-title">
                <h3>175</h3>
                <span>booking every years </span>
              </div>
            </div>
            <div class="at-counter-content col-sm-4">
              <figure><%= image_tag "counter/img-03.jpg", alt: "img description" %></figure>
              <div class="at-title">
                <h3 >99</h3><em>%</em>
                <span>positive feedbacks</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Stat Section End -->
</main>
<!-- Main End -->