<div class="at-haslayout at-innerbannerholder">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-12">
        <div class="at-innerbannercontent">
          <div class="at-title"><h2>Learn More About Us</h2></div>
          <ol class="at-breadcrumb">
            <li><%= link_to 'Main', root_path %></li>
            <li>About</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Home Slider End -->
<!-- Main Start -->
<main id="at-main" class="at-main at-haslayout">
  <!-- Success Year Section Start -->
  <section class="at-haslayout at-main-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-6">
          <figure class="at-success-img">
            <%= image_tag "about/img-05.jpg", alt: "img description" %>
          </figure>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
          <div class="at-success-content">
            <div class="at-title">
              <h2><em>20</em><span>Years Of Success and Excellence</span></h2>
            </div>
            <div class="at-description">
              <p><em>Consectetur adipisicing elit sed eiusmod tempor incididuntei ut labore et dolore magna aliqua enim ut veniam quistae nostrud exercitation ullamco laboris nisiutem.</em></p>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum nilae dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonate proident sunt in culpa qui officia deserunt.</p>
            </div>
            <ul class="at-successinfo">
              <li>
                <figure><%= image_tag "about/img-01.jpg", alt: "img description" %></figure>
                <div class="at-successcontent"><h4>Excellent 24/7 Support</h4></div>
              </li>
              <li>
                <figure><%= image_tag "about/img-02.jpg", alt: "img description" %></figure>
                <div class="at-successcontent"><h4>Premium Quality Offers</h4></div>
              </li>
              <li>
                <figure><%= image_tag "about/img-03.jpg", alt: "img description" %></figure>
                <div class="at-successcontent"><h4>Easy to Find Property</h4></div>
              </li>
              <li>
                <figure><%= image_tag "about/img-04.jpg", alt: "img description" %></figure>
                <div class="at-successcontent"><h4>Posting Ad is Like Fun</h4></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Success Year Section End -->
  <!-- Stat Section Start -->
  <section class="at-haslayout at-main-section at-sectionbg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 push-md-0 col-lg-10 push-lg-1 col-xl-8 push-xl-2">
          <div class="at-sectionhead">
            <div class="at-sectiontitle">
              <h2>Stat Says It All</h2>
              <span>Useful Information</span>
            </div>
            <div class="at-description">
              <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisiut aliquip</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div id="at-counter-holder" class="at-counter-holder">
            <div class="at-counter-content">
              <figure><%= image_tag "counter/img-01.jpg", alt: "img description" %></figure>
              <div class="at-title">
                <h3 data-from="65000" data-to="65856" data-speed="8000" data-refresh-interval="100">65856</h3>
                <span>Active Properties</span>
              </div>
            </div>
            <div class="at-counter-content">
              <figure><%= image_tag "counter/img-02.jpg", alt: "img description" %></figure>
              <div class="at-title">
                <h3 data-from="35000" data-to="35424" data-speed="8000" data-refresh-interval="100">35424</h3>
                <span>Active Members</span>
              </div>
            </div>
            <div class="at-counter-content">
              <figure><%= image_tag "counter/img-03.jpg", alt: "img description" %></figure>
              <div class="at-title">
                <h3 data-from="50" data-to="99" data-speed="8000" data-refresh-interval="100">99.80</h3><em>%</em>
                <span>Possitive Feedback</span>
              </div>
            </div>
            <div class="at-counter-content">
              <figure><%= image_tag "counter/img-04.jpg", alt: "img description" %></figure>
              <div class="at-title">
                <h3 data-from="1100" data-to="1200" data-speed="6000" data-refresh-interval="03">1200</h3>
                <span>Cup Of Coffee</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Stat Section End -->
  <!-- Creative Creators Start -->
  <section class="at-haslayout at-main-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 push-md-0 col-lg-10 push-lg-1 col-xl-8 push-xl-2">
          <div class="at-sectionhead">
            <div class="at-sectiontitle">
              <h2>Our Creative Creators</h2>
              <span>Crew Behind Our Success</span>
            </div>
            <div class="at-description">
              <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisiut aliquip</p>
            </div>
          </div>
        </div>
        <div class="at-ourcreators-holder at-haslayout">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 float-left">
            <div class="at-ourcreators">
              <figure class="at-ourcreators-img"><%= image_tag "ourcreators/img-01.jpg", alt: "img description" %></figure>
              <div class="at-ourcreators-content">
                <h3><a href="javascript:void(0);">Alley khen</a></h3>
                <span>Brand, Web, Product Design</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 float-left">
            <div class="at-ourcreators">
              <figure class="at-ourcreators-img"><%= image_tag "ourcreators/img-02.jpg", alt: "img description" %></figure>
              <div class="at-ourcreators-content">
                <h3><a href="javascript:void(0);">Kimbra Pirtle</a></h3>
                <span>Illustration, Brand Design</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 float-left">
            <div class="at-ourcreators">
              <figure class="at-ourcreators-img"><%= image_tag "ourcreators/img-03.jpg", alt: "img description" %></figure>
              <div class="at-ourcreators-content">
                <h3><a href="javascript:void(0);">Leone Gloria</a></h3>
                <span>Development</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 float-left">
            <div class="at-ourcreators">
              <figure class="at-ourcreators-img"><%= image_tag "ourcreators/img-04.jpg", alt: "img description" %></figure>
              <div class="at-ourcreators-content">
                <h3><a href="javascript:void(0);">Shameka Bartels</a></h3>
                <span>Brand, Product, iOS Design</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Creative Creators End -->
</main>
<!-- Main End -->