<div id="at-homesilder-holder" class="at-homeslider-holder at-haslayout">
  <div class="at-homeslidervideo homesliderimg">
    <%= image_tag image_path('slider-imgs/img-02.jpg') %>
  </div>
  <div class="at-home-banner at-home-banner-two at-haslayout">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-12 push-md-0 col-lg-10 push-lg-1 col-xl-8 push-xl-2">
          <div class="at-slider-header">
            <div class="at-title">
              <h1><span>Stay at home while at INSEAD</span>Only direct rental platform for INSEAD students</h1>
            </div>
            <div class="at-description">
              <p>Congratulations on your admission at INSEAD! This will be without a doubt one of the best year in your life and we are here to find the right accommodation that will make you feel at home</p>
            </div>
          </div>
        </div>
        <%#= render 'apartments/search_header', params: { remote_flag: false } %>
        <div class="col-12 all_properties at-btnarea">
          <%= link_to 'Search for your place', apartments_path, class: 'at-btn' %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main Start -->
<main id="at-main" class="at-main at-haslayout">
  <!-- Recommended Section Start -->
  <section class="at-haslayout at-main-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 push-md-0 col-lg-10 push-lg-1 col-xl-8 push-xl-2">
          <div class="at-sectionhead">
            <div class="at-sectiontitle">
              <h2>Recommended For You</h2>
              <span>Overview of properties</span>
            </div>
            <div class="at-description">
              <p>You will find wide range of options including studios, apartment, co-living, both near campus or outside Fontainebleau to accommodate your personal preferences</p>
            </div>
          </div>
        </div>
        <div class="at-recommended-gallery at-haslayout">
          <% @latest_apartments.each_with_index do |apartments, all_index| %>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
              <div class="tr-trip-imgs">
                <% apartments.each_with_index do |apartment, index|%>
                  <figure>
                    <%= link_to apartment_path(apartment) do %>
                      <% size = (all_index.eql?(1) && index.eql?(1) || all_index.eql?(2) && index.eql?(0)) ? '350x424' : '350x197' %>
                      <%= image_tag url_for(apartment.images.last), size: size %>
                    <% end %>
                    <figcaption>
                      <div class="at-trip-content">
                        <h3><%= apartment.title.titleize %></h3>
                        <h4>$<%= rand(100..1000) %> <span>(<%= apartment.apartment_type_name %>)</span></h4>
                      </div>
                    </figcaption>
                  </figure>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="col-12 col-sm-12 col-md-12 at-btnarea-mt float-left">
            <div class="at-btnarea">
              <%= link_to 'View All', apartments_path, class: 'at-btn' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Recommended Section Start -->
  <!-- Top Categories Start -->
  <section class="at-haslayout at-main-section at-sectionbg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 push-md-0 col-lg-10 push-lg-1 col-xl-8 push-xl-2">
          <div class="at-sectionhead">
            <div class="at-sectiontitle">
              <h2>Explore</h2>
              <span>Start working for your dream place</span>
            </div>
            <div class="at-description">
              <p>Browse the studio, room and other co-living</p>
            </div>
          </div>
        </div>
        <div class="at-category-gallery at-haslayout">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
            <a href="javascript:void(0);">
              <figure class="at-category-img">
                <%= image_tag image_path('category/img-01.jpg') %>
                <figcaption><h3>Apartments</h3><span>12,568 Listings</span></figcaption>
              </figure>
            </a>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
            <a href="javascript:void(0);">
              <figure class="at-category-img">
                <%= image_tag image_path('category/img-02.jpg') %>
                <figcaption><h3>Rooms</h3><span>12,568 Listings</span></figcaption>
              </figure>
            </a>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
            <a href="javascript:void(0);">
              <figure class="at-category-img">
                <%= image_tag image_path('category/img-03.jpg') %>
                <figcaption><h3>Studios</h3><span>12,568 Listings</span></figcaption>
              </figure>
            </a>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left at-btnarea">
            <a href="javascript:void(0);" class="at-btn" title='This Feature Is Under Development' >View All</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- Main End -->
<script type="text/javascript">
  $(document).ready(function (e) {
    Filter.result();
  });
</script>
