<!-- Invoice details start -->
<div class="content">
<div class="card">
<div class="card-header">
  <h3 class="card-title">
  <%= "#{t('invoice.invoice')} ##{@invoice.invoice_number}" %>
  </h3>
</div>
<div class="card-body">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-6 customer-details">
          <div class="box">
            <h4><%= t('invoice.billing_details') %></h4>
            <div class="box-content">
              <p class="mb-0"><strong><%= t('invoice.fullname') %>: </strong><%= @user.fullname %><br>
              <strong><%= t('invoice.area') %>: </strong><%= @address&.area %><br>
              <strong><%= t('invoice.city') %>: </strong><%= @address&.city %><br>
              <strong><%= t('invoice.state') %>: </strong><%= @address&.state %><br>
              <strong><%= t('invoice.postal_code') %>: </strong><%= @address&.postal_code %></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <h4><%= t('invoice.customer_details') %></h4>
            <div class="box-content">
              <p class="mb-0"><strong><%= t('invoice.fullname') %>: </strong><%= @user.fullname %><br>
              <strong><%= t('invoice.email') %>: </strong><%= @user.email %><br>
              <strong><%= t('invoice.date') %>: </strong><%= date_format(@invoice.date) %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 class="form-group"><%= 'Summary' %></h3>

  <%= render 'summary' %>
  <div class='text-right'>
    <%= link_to t('back_to_home'), landlord_dashboard_path, class: 'btn btn-dark btn-xs' %>
    <%= link_to t('view_invoice'), preview_path(format: :pdf), target: :blank, class: 'btn btn-success btn-xs' %>
    <%= link_to t('download_invoice'), download_path(format: :pdf), class: 'btn btn-success btn-xs' %>
  </div>
</div>
</div>

<!-- Invoice details end -->
