<table id="bootstrap-data-table" class="table table-striped table-bordered dataTable no-footer"
  role="grid" aria-describedby="bootstrap-data-table_info">
  <thead>
    <tr role="row">
      <th class="sorting_asc" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1"><%= t('users.firstname') %></th>
      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1"><%= t('users.lastname') %></th>
      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1"><%= t('users.email') %></th>
      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1"><%= t('users.username') %></th>
      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1"><%= t('users.phone_no') %></th>
      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr role="row" class="odd">
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= user.phone_no %></td>
        <td>
          <%= link_to edit_admin_user_path(user) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
        <td>
          <%= link_to admin_user_path(user), method: :delete, data: { confirm: t('confirmation') }  do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tr>
  </tbody>
</table>