<table id="bootstrap-data-table" class="table table-bordered dataTable no-footer"
  role="grid" aria-describedby="bootstrap-data-table_info">
  <thead>
    <tr role="row">
      <th class="text-center"><%= t('sr_no') %></th>
      <th class="sorting_asc" tabindex="0" aria-controls="bootstrap-data-table"><%= t('users.firstname') %></th>
      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table"><%= t('users.lastname') %></th>
      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table"><%= t('users.email') %></th>
      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table"><%= t('users.username') %></th>
      <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table"><%= t('users.phone_no') %></th>
      <% if params[:type] == 'landlord' %>
        <th class="sorting text-center" tabindex="0" aria-controls="bootstrap-data-table"><%= t('users.registerd_at') %></th>
      <% else %>
        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table"><%= t('users.booking_count') %></th>
      <% end %>
      <th class="sorting text-center" tabindex="0" aria-controls="bootstrap-data-table" style="width:150px; text-align:center;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% users.each.with_index(1) do |user, index| %>
      <tr role="row" class="odd">
        <td class="text-center"><%= pagination_params + index %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= user.phone_no %></td>
        <% if params[:type] == 'landlord' %>
          <td class="text-center"><%= date_format(user.created_at) %></td>
        <% else %>
          <td class="text-center"><%= user.bookings.count %></td>
        <% end %>
        <td align="center">
        <%= link_to edit_admin_user_path(user.id, type: params[:type]), class:'btn btn-sm btn-success' do %>
          <i class="fa fa-pencil"></i>
        <% end %>
          <%= link_to admin_user_path(user.id, type: params[:type]), method: :delete, data: { confirm: t('confirmation') }, class:'btn btn-sm btn-danger'  do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tr>
  </tbody>
</table>
