<%= form_with(model: inquiry, remote: true, id: 'inquiry_form') do |form| %>
  <%= render 'shared/error_messages', target: inquiry %>
  <%= hidden_field_tag 'inquiry[sender_id]', current_user&.id %>
  <%= hidden_field_tag 'inquiry[receiver_id]', @landlord&.id %>
  <%= hidden_field_tag 'inquiry[apartment_id]', @apartment&.id %>

  <div class='row'>
    <div class="form-group col-sm-12 mb-3">
      <%= form.label 'Message', class:"col-form-label" %><br/>
      <%= form.text_area :message, class: 'form-control' %>
    </div>
    <div class="modal-footer">
      <%= link_to "Back", '', data: { dismiss: 'modal' }, class: 'at-btn', style:"height: 40px;min-width:auto;" %>
      <%= button_tag 'Send', class:"at-btn at-btnactive", type: "submit", style:"height: 40px;min-width:auto;" %>
    </div>
  </div>
<% end %>
