<% @apartments.each do |apartment| %>
  <div class="col-lg-4 col-md-6 mt-5">
    <div class="card card-bordered">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <% apartment.images.each do |image| %>
            <div class="carousel-item <%= apartment.active_class(image) %>">
              <%= image_tag url_for(image), class: "d-block w-100", style:"width:500px; height:300px;" %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only"><%= t('apartment.previous') %></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only"><%= t('apartment.next') %></span>
        </a>
      </div>
      <div class="card-body">
        <h5 class="title"><%= apartment.title.truncate(35) %></h5>
        <p class="card-text" style="height:70px;"><%= apartment.description.truncate(100) %></p>
        <%= link_to  'View more', apartment_path(apartment), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
