<div class='row'>
  <% @apartments.each do |apartment| %>
    <div class="col-6 col-md-4 col-lg-6 col-xl-4">
      <div class="at-featured-holder">
        <div class="at-featuredslider owl-carousel">
          <% apartment.images.each do |image| %>
            <figure class="item">
              <a href="javascript:void(0);">
                <%= image_tag url_for(image), size: '350x230', alt:"img description", class: "item" %>
              </a>
              <figcaption>
                <div class="at-slider-details">
                  <a href="javascript:void(0);" class="at-tag">Featured</a>
                  <a href="javascript:void(0);" class="at-tag at-rated">Top Rated</a>
                  <span class="at-photolayer"><i class="fas fa-layer-group"></i><%= apartment.images.count %>Photos</span>
                </div>
              </figcaption>
            </figure>
          <% end %>
        </div>
        <div class="at-featured-content">
          <div class="at-featured-head">
            <div class="at-featured-tags"><a href="javascript:void(0);"><%= apartment.apartment_type_name %></a> </div>
            <div class="at-featured-title">
              <h3><%= apartment.title.titleize %> <span>$<%= apartment.net_rent %> <em>/ night</em></span></h3>
              <div class="at-userimg at-verifieduser">
                <% if apartment.user_image.present? %>
                  <%= image_tag url_for(apartment.user_image), size: '50x50', alt: "img description" %>
                  <i class="fa fa-shield-alt"></i>
                <% end %>
              </div>
            </div>
            <ul class="at-room-featured">
              <% apartment.other_amenities.each do |amenities| %>
                <% if amenities %>
                  <li><span><i><%= image_tag image_url("featured-img/icons/#{amenities&.first}.jpg"), alt: "img description" %></i><%= other_amenities_text(amenities) %></span></li>
                <% end %>
              <% end %>
            </ul>
          </div>
          <div class="at-featured-footer">
            <address><%= apartment.display_full_address %></address>
            <div class="at-share-holder">
              <a href="javascript:void(0);"><i class="ti-more-alt"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
