<% @apartments.each do |apartment| %>
  <div class="at-featured-holder">
    <div class="at-featuredslider owl-carousel owl-loaded owl-drag">
      <% apartment.images.each do |image| %>
        <div class="owl-stage-outer owl-height <%= apartment.active_class(image) %>" style="height: 190px;">
          <%= image_tag url_for(image) %>
        </div>
      <% end %>
      <div class="at-featur-nav">
        <div class="at-featurprev">
          <span class="ti-angle-left"></span>
        </div>
        <div class="at-featurnext">
          <span class="ti-angle-right"></span>
        </div>
      </div>
    </div>
    <div class="at-featured-content">
      <div class="at-featured-head">
        <div class="at-featured-tags">
          <a href="<%= apartment_path(apartment) %>">Apartment</a>
        </div>
        <div class="at-featured-title">
          <h3><%= apartment.title %><span>€ <%= apartment.rent_rate.net_rate %> <em></em></span></h3>
        </div>
        <ul class="at-room-featured">
          <%= apartment.description.truncate(50) %>
        </ul>
        <div class="at-featured-footer">
          <address><%= apartment.area %></address>
        </div>
      </div>
    </div>
</div>
<% end %>
