<%= form_with(model: apartment, url: url, local: true, id: 'apartments_form') do |form| %>
  <%= render 'shared/error_messages', target: apartment %>
  <%= hidden_field_tag 'apartment[user_id]', current_user&.id %>
  <div class='row'>
    <div class="form-group col-sm-6">
      <%= form.label t('apartment.apartment_title'), class:"col-form-label" %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group col-sm-6">
      <%= form.label t('apartment.description'), class:"col-form-label" %>
      <%= form.text_field :description, class: 'form-control' %>
    </div>
  </div>
  <div class='row'>
    <div class="form-group col-sm-6">
      <%= form.label t('apartment.address'), class:"col-form-label" %>
      <%= form.text_field :area, class: 'form-control' %>
    </div>
    <div class="form-group col-sm-6">
      <%= form.label t('apartment.postalcode'), class:"col-form-label" %>
      <%= form.text_field :postalcode, class: 'form-control' %>
    </div>
  </div>
  <div class='row'>
    <div class="form-group col-sm-6">
      <%= form.label t('apartment.city'), class:"col-form-label" %>
      <%= form.text_field :city, class: 'form-control' %>
    </div>
    <div class="form-group col-sm-6">
      <div class="at-select">
        <%= form.label t('apartment.campus'), class:"col-form-label" %>
        <%= select_tag 'apartment[campus]', options_for_select(Constant::CAMPUS, apartment&.campus),  class: 'form-control selectpicker', include_blank: t('apartment.select_campus') %>
      </div>
    </div>
  </div>
  <%= hidden_field_tag :country, '', { class: 'form-control', id: 'apartment_country', name: 'apartment[country]' } %>
  <div class='row'>
    <div class="form-group col-sm-6">
      <div class="at-select">
        <%= form.label t('apartment.apartment_type'), class:"col-form-label" %>
        <%= select_tag 'apartment[apartment_type_id]', options_for_select(apartment_types_array, apartment&.apartment_type_id), class: "form-control selectpicker apartment-type", include_blank: t('apartment.select_accomodation_type') %>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <%= form.label t('apartment.available_from'), class:"col-form-label" %>
      <div class="at-select">
        <%= select_tag 'apartment[month]', options_for_select(Constant::MONTH_ARRAY, apartment&.month), class: 'form-control col-sm-5 selectpicker', include_blank: t('apartment.month') %>
        <%= select_tag 'apartment[year]', options_for_select(Constant::YEAR_ARRAY, apartment&.year), class: 'form-control col-sm-5 selectpicker', include_blank: t('apartment.year') %>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="form-group col-sm-6">
      <%= form.label t('apartment.floor'), class:"col-form-label" %>
      <%= form.text_field :floor, class: 'form-control' %>
    </div>
    <div class="form-group col-sm-6">
      <%= form.label t('apartment.total_bedrooms'), class:"col-form-label" %>
      <%= form.text_field :total_bedrooms, class: 'form-control' %>
    </div>
  </div>
  <div class='row'>
    <div class="form-group col-sm-6">
      <%= form.label t('apartment.shower_room'), class:"col-form-label" %>
      <%= form.text_field :shower_room, class: 'form-control' %>
    </div>
    <div class="form-group col-sm-6">
      <%= form.label t('apartment.other_facilities'), class:"col-form-label" %>
      <%= form.text_field :other_facilities, class: 'form-control' %>
    </div>
  </div>
  <div class='row'>
    <div class="form-group col-sm-6">
      <%= form.label t('apartment.virtual_visit_link'), class:"col-form-label" %>
      <%= form.text_field :virtual_visit_link, class: 'form-control' %>
    </div>
  </div>
  <div class='row'>
    <div class="form-group col-sm-12">
      <%= form.label t('apartment.images'), class:"col-form-label " %>
      <div class="custom-file">
        <%= form.file_field :images, class: "custom-file-input", id:"customFile" , required: apartment.new_record?, multiple: true, onchange: "previewFile(this);" %>
        <label class="custom-file-label" for="customFile"><%= t('apartment.select_images') %></label>
      </div>
    </div>
  </div>
  <% if apartment&.images.attached? %>
    <div class='row' id="uploadedImage">
      <div class="form-group col-sm-12">
        <% apartment&.images.each do |image| %>
          <%= image_tag url_for(image), style:"width:150px;height:150px;" %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class='row'>
    <div class="form-group col-sm-12">
      <div id="image-limit-validation" class="d-none">Maximum 20 images allowed to upload</div>
      <div id="image_preview"></div>
    </div>
  </div>
  <br>
  <h3><%= t('apartment.rent_details') %></h3><br>
  <%= render partial: 'rent_rates' , locals: { form: form } %>
<div class='text-right'>
  <%= link_to 'Back', back_to_apartments, class: 'btn btn-dark' %>
  <%= button_tag 'Save', class:"btn at-btn", type: "submit" %>
  <% if !apartment.new_record? && !apartment.subscribed? %>
    <%= link_to 'Post', subscription_url_for_user(params[:id]), data: { remote: true }, class: 'btn at-btn' %>
  <% end %>
</div>
<% end %>
<script type="text/javascript">
  $(document).ready(function (e) {
    $('[data-toggle="popover"]').popover({html:true,placement:'top'});
    ApartmentForm.validate();
  });
</script>
