<%= form.fields_for :rent_rate, @apartment.rent_rate do |f| %>
  <div class='row'>
    <div class="form-group col-sm-4">
      <%= f.label t('rent.net_rate'), class:"col-form-label" %><br/>
      <%= f.text_field :net_rate, class: 'form-control' %>
    </div>
     <div class="form-group col-sm-4">
      <%= f.label t('rent.water_charge'), class:"col-form-label" %><br/>
      <%= f.text_field :water_charge, class: 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label t('rent.heating_charge'), class:"col-form-label" %><br/>
      <%= f.text_field :heating_charge, class: 'form-control' %>
    </div>
  </div>  
  <div class='row'>
    <div class="form-group col-sm-4">
      <%= f.label t('rent.electricity_charge'), class:"col-form-label" %><br/>
      <%= f.text_field :electricity_charge, class: 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label t('rent.internet_charge'), class:"col-form-label" %><br/>
      <%= f.text_field :internet_charge, class: 'form-control' %>
    </div>
     <div class="form-group col-sm-4">
      <%= f.label t('rent.insurance_charge'), class:"col-form-label" %><br/>
      <%= f.text_field :insurance_charge, class: 'form-control' %>
    </div>
  </div> 
  <div class='row'>
    <div class="form-group col-sm-4">
      <%= f.label t('rent.deposit_amount'), class:"col-form-label" %><br/>
      <%= f.text_field :deposit_amount, class: 'form-control' %>
    </div>
  </div> 
<% end %>
