<div class='container'>
  <div class="remove-flex row justify-content-center">
    <div class="col-12 col-md-12 col-lg-12 col-xl-11 push-xl-1">
      <div class="at-slider-content" style="max-width:1100px;">
        <div class="at-title">
          <h4>Start Your Search Here</h4>
        </div>
        <div class="remove-flex row">
          <%= form_tag(apartments_path, method: :get, remote: params[:remote_flag], class: 'at-formtheme at-formbanner') do |form| %>
          <div class="row">
            <div class="at-widget col-sm-3">
              <div class="at-widgettitle at-collapsetitle" id="heading5" data-toggle="collapse" data-target="#collapse1" role="heading">
                <h3><%= t('admin.apartment_type.title') %></h3>
              </div>
              <div class="at-collapseholder collapse show" id="collapse1" aria-labelledby="heading5">
                <div class="at-widgetcontent">
                  <%= select_tag 'search[apartment_type]', options_for_select(apartment_type_collection.pluck(:name)), class: "form-control col-sm-12", include_blank: t('apartment.select_apartment_type') %>
                </div>
              </div>
            </div>
            <div class="at-widget col-sm-3">
              <div class="at-widgettitle at-collapsetitle" id="heading5" data-toggle="collapse" data-target="#collapse6" role="heading">
                <h3>Available From:</h3>
              </div>
              <div class="at-collapseholder collapse show" id="collapse6" aria-labelledby="heading5">
                <div class="at-widgetcontent">
                  <%= select_tag 'search[month]', options_for_select(Constant::MONTH_ARRAY), class: 'form-control col-sm-5 selectpicker', include_blank: t('apartment.month') %>
                  <%= select_tag 'search[year]', options_for_select(Constant::YEAR_ARRAY), class: 'form-control col-sm-5 selectpicker', include_blank: t('apartment.year') %>
                </div>
              </div>
            </div>
            <div class="at-widget col-sm-3">
              <div class="at-widgettitle at-collapsetitle" id="heading5" data-toggle="collapse" data-target="#collapse5" role="heading">
                <h3>Price Range:</h3>
              </div>
              <div class="at-collapseholder collapse show" id="collapse5" aria-labelledby="heading5">
                <div class="at-widgetcontent">
                  <div class="at-areasizebox">
                    <input type="text" id="at-rangeamount" name="<%= 'sort[rent]' %>" readonly="">
                  </div>
                  <div id="at-rangeslider" class="at-rangeslider at-themerangeslider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 12%;"></span>
                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 80%;"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="at-widget col-sm-3">
              <div class="at-widgettitle at-collapsetitle" id="heading5" data-toggle="collapse" data-target="#collapse2" role="heading">
                <h3><%= t('apartment.distance_from_campus') %></h3>
              </div>
              <div class="at-collapseholder collapse show" id="collapse2" aria-labelledby="heading5">
                <div class="at-widgetcontent">
                  <%= select_tag('sort[distance_from_university]', options_for_select(Constant::DISTANCE_FROM_UNIVERSITY), class: "form-control col-sm-12", include_blank: t('apartment.select_distance')) %>
                </div>
              </div>
            </div>
          </div>
          <div class="at-btnarea">
            <%= button_tag t('filter_results'), class:"at-btn sort-filter", type: "submit" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
