<%= render 'shared/header_bg' %>
<div class="at-innerbanner-holder at-haslayout at-innerbannersearch">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="at-innerbanner-search">
          <form class="at-formtheme at-form-advancedsearch">
            <fieldset>
              <% if current_user&.administrative_role? %>
              <div class="form-group col-sm-6">
                <div class="">
                  <%= form_tag apartments_path, :method => 'get' do %>
                    <%= text_field_tag 'search[apartment_type]', params[:search].present? ? params[:search][:apartment_type] : '', id: 'apartment_type', class: 'form-control', placeholder: 'Apartment Type..'%>
                  <% end %>
                </div>
              </div>
              <div class="at-btnarea col-sm-4">
                <button type="button" class="at-btn at-btnactive sort-filter" ><%= t('filter') %></button>
              </div>
              <div class="at-btnarea col-sm-4">
                <%= link_to new_apartment_path, class: 'at-btn at-btnactive' do %>
                  <%= t('apartment.add_apartment') %>
                <% end %>
              </div>
              <% else %>
                <div class="form-group col-sm-2">
                <div class="at-select">
                  <%= form_tag apartments_path, :method => 'get' do %>
                    <%= text_field_tag 'search[apartment_type]', params[:search].present? ? params[:search][:apartment_type] : '', id: 'apartment_type', class: 'form-control', placeholder: 'Apartment Type..'%>
                  <% end %>
                </div>
              </div>
              <div class="form-group at-checkin-holder at-datecheck col-sm-2">
                <input class="form-control" id="at-startdate", placeholder="<%= t('apartment.arrival_date') %>">
              </div>
              <div class="form-group at-checkout-holder at-datecheck col-sm-2">
                <input class="form-control" id="at-enddate", placeholder="<%= t('apartment.departure_date') %>">
              </div>
              <div class='form-group col-sm-2'>
                <div class="at-select">
                  <%= select_tag(:distance_from_university, options_for_select(Apartment.pluck(:distance_from_university).uniq), class: "form-control", "data-live-search" => "true", include_blank: t('apartment.distance_from_university')) %>
                </div>
              </div>
              <div class='form-group col-sm-2'>
                <div class="at-select">
                  <%= select_tag(:net_rate, options_for_select(Constant::RENT_RATE_DROPDOWN, :net_rate), class: "form-control", "data-live-search" => "true", include_blank: t('apartment.rent')) %>
                </div>
              </div>
              <div class="at-btnarea col-sm-1">
                <button type="button" class="at-btn at-btnactive sort-filter" ><%= t('filter_results') %></button>
              </div>
              <% end %>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
