<!-- Partial for displaying similar apartment by location -->
<% if @similar_apartments.present? %>
  <h2 style='text-align:center', class='mt-3'>Similar Accomodations </h2>
  <div class="at-haslayout at-main-section">
    <div class="container">
      <div class="row">
          <div class="col-sm-12">
          <!-- Properties List Start -->
          <div class="at-properties-listing">
            <% @similar_apartments.each do |apartment| %>
              <div class="at-featured-holder">
                <div class="at-featuredslider owl-carousel owl-loaded owl-drag">
                  <% apartment.images.each do |image| %>
                    <div class="owl-stage-outer owl-height <%= apartment.active_class(image) %>" style="height: 190px;">
                      <%= image_tag url_for(image) %>
                    </div>
                  <% end %>
                  <div class="at-featur-nav">
                    <div class="at-featurprev">
                      <span class="ti-angle-left"></span>
                    </div>
                    <div class="at-featurnext">
                      <span class="ti-angle-right"></span>
                    </div>
                  </div>
                </div>
                <div class="at-featured-content">
                  <div class="at-featured-head">
                    <div class="at-featured-tags"><a href="<%= apartment_path(apartment) %>">Apartment</a></div>
                    <div class="at-featured-title">
                      <h3><%= apartment.title %><span>€ <%= apartment.rent_rate&.net_rate %> <em></em></span></h3>
                    </div>
                    
                    <ul class="at-room-featured">
                      <%= apartment.description.truncate(50) %>
                    </ul>
                  </div>
                  <div class="at-featured-footer">
                    <address><%= apartment.area %></address>
                  </div>
                </div>
              </div>
            <% end %>
            </div>
          <!-- Properties List End -->
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
