<!-- Preloader Start -->
<div class="preloader-outer">
  <div class="at-preloader-holder">
    <img src="images/loader.png" alt="laoder img">
    <div class="at-loader"></div>
  </div>
</div>
<!-- Preloader End -->
<!-- Wrapper Start -->
<div id="at-wrapper" class="at-wrapper at-haslayout">
  <!-- Header Start -->
  <header id="at-header" class="at-header at-haslayout">
    <div class="at-navigationarea">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="at-rightarea">
              <nav id="at-nav" class="at-nav navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="lnr lnr-menu"></i>
                </button>
                <div class="collapse navbar-collapse at-navigation" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item <%= active_inactive_header_class('about_us') %>">
                      <%= link_to 'About Us', about_us_path %>
                    </li>
                    <li class="nav-item <%= active_inactive_header_class('contact_us') %>">
                      <%= link_to 'Contact Us', contact_us_path %>
                    </li>
                    <% if current_user.present? %>
                      <li class="menu-item-has-children page_item_has_children"><span class="at-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
                        <a href="javascript:void(0);" class="at-menu-icon">
                          <%= current_user&.fullname %>
                          <span class="at-navmorecontent">MyInfo</span>
                        </a>
                        <ul class="sub-menu">
                          <% title_and_url = mydashboard_or_mybookings %>
                          <li>
                            <%= link_to title_and_url.first, title_and_url.last %>
                          </li>
                          <li>
                            <%= link_to "Edit Profile", edit_user_registration_path %>
                          </li>
                          <li>
                            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                          </li>
                        </ul>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </nav>
              <% unless current_user.present? %>
                <div class="at-loginarea float-right">
                    <%= link_to 'Login', popup_forms_path(name: 'login'), remote: true, class: 'at-registeroption', style: "font-size: medium;" %>
                    <%= link_to 'Register', popup_forms_path(name: 'register'), remote: true, class: 'at-registeroption', style: "font-size: medium;" %>
                  <div class="at-detailsbtn-topbar">
                    <%= link_to 'Become a Host', popup_forms_path(name: 'host'), remote: true, class: 'at-btn at-btnactive' %>
                    <!--<em>OR</em>
                    <a href="javascript:void(0);" class="at-btn at-btnactive at-btntwo" data-toggle="modal" data-target="#findproperty">Find Property</a> -->
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header End -->
  <!-- Home Slider End -->
  <!-- Main Start -->
  <main id="at-main" class="at-main at-haslayout">
    <!-- Two Columns Start -->
    <div class="at-haslayout at-main-section">
      <div class="container">
        <div class="row">
          <div id="at-twocolumns" class="at-twocolumns at-haslayout">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-12">
            <!-- Properties List Start -->
              <div class="at-properties-listing">
                <%= render 'apartments' %>
              </div>
            <!-- Properties List End -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Two Columns End -->
  </main>
  <!-- Main End -->
  <!-- Footer Start -->
  <footer id="at-footer" class="at-footer at-haslayout">
    <div class="at-fthreecolumn at-haslayout">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-2">
            <div class="at-fwidget">
              <div class="at-fwidget-titile">
                <h3>About</h3>
              </div>
              <div class="at-fwidget-content">
                <ul>
                  <li><a href="javascript:void(0);">Our Vision</a></li>
                  <li><a href="javascript:void(0);">Our Mission</a></li>
                  <li><a href="javascript:void(0);">Teerm &amp; Conditions</a></li>
                  <li><a href="javascript:void(0);">Privacy Policy</a></li>
                  <li><a href="javascript:void(0);">Posting Policy</a></li>
                  <li><a href="javascript:void(0);">Team Behind Curtain</a></li>
                  <li><a href="javascript:void(0);">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-2">
            <div class="at-fwidget">
              <div class="at-fwidget-titile">
                <h3>Category To Start</h3>
              </div>
              <div class="at-fwidget-content">
                <ul>
                  <li><a href="javascript:void(0);">Apartment</a></li>
                  <li><a href="javascript:void(0);">Bed &amp; Breakfast</a></li>
                  <li><a href="javascript:void(0);">Condo</a></li>
                  <li><a href="javascript:void(0);">House</a></li>
                  <li><a href="javascript:void(0);">Loft</a></li>
                  <li><a href="javascript:void(0);">Studio</a></li>
                  <li class="at-showall-link"><a href="javascript:void(0);">Show All</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-6 col-xl-4">
            <div class="at-fwidget at-locations-info">
              <div class="at-fwidget-titile">
                <h3>Explore Top Locations</h3>
              </div>
              <div class="at-fwidget-content">
                <ul>
                  <li><a href="javascript:void(0);">United Emirates</a></li>
                  <li><a href="javascript:void(0);">Paris</a></li>
                  <li><a href="javascript:void(0);">New York City</a></li>
                  <li><a href="javascript:void(0);">Yellowstone</a></li>
                  <li><a href="javascript:void(0);">Argentine Patagonia</a></li>
                  <li><a href="javascript:void(0);">Rome</a></li>
                  <li><a href="javascript:void(0);">Sydney</a></li>
                  <li><a href="javascript:void(0);">Tahiti</a></li>
                  <li><a href="javascript:void(0);">Hong Kong</a></li>
                  <li><a href="javascript:void(0);">London</a></li>
                  <li><a href="javascript:void(0);">Rio de Janeiro</a></li>
                  <li><a href="javascript:void(0);">New Zealand</a></li>
                  <li><a href="javascript:void(0);">British Virgin Islands</a></li>
                  <li><a href="javascript:void(0);">Grand Canyon</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-6 col-xl-4">
            <div class="at-ffollow-holder">
              <div class="at-fwidget-titile">
                <h3>Follow Us</h3>
              </div>
              <ul class="at-socialicons at-socialicons-white">
                <li class="at-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                <li class="at-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                <li class="at-youtube"><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                <li class="at-instagram"><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
              </ul>
              <div class="at-fnewsletter">
                <div class="at-fwidget-titile">
                  <h3>Signup For Newsletter</h3>
                </div>
                <div class="at-description">
                  <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Your Emaill Address" required="">
                  <button type="submit" class="at-submitbtn"><i class="ti-email"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="at-footerbottom at-haslayout">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="at-copyrights-holder">
              <div class="at-flogoarea">
                <strong class="at-flogo"><a href="index.html"><img src="images/flogo.png" alt="footer logo"></a></strong>
                <p class="at-copyrights">Copyrights © 2019 by <a href="javascript:void(0);">Tenanto.</a> All Rights Reserved.</p>
              </div>
              <div class="at-rightarea">
                <figure class="at-payment-icons">
                  <img src="images/payment-icon/img-01.jpg" alt="img description">
                  <img src="images/payment-icon/img-02.jpg" alt="img description">
                  <img src="images/payment-icon/img-03.jpg" alt="img description">
                  <img src="images/payment-icon/img-04.jpg" alt="img description">
                  <img src="images/payment-icon/img-05.jpg" alt="img description">
                  <img src="images/payment-icon/img-06.jpg" alt="img description">
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer End -->
</div>
<!-- Wrapper End -->
<!-- Login Popup Start-->
<div class="modal fade at-loginpopup" tabindex="-1" role="dialog" id="loginpopup" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="at-modalcontent modal-content">
      <div class="at-popuptitle">
        <h4>Login</h4>
        <a href="javascript:void(0);" class="at-closebtn close"><i class="lnr lnr-cross" data-dismiss="modal"></i></a>
      </div>
      <div class="modal-body">
        <form class="at-formtheme at-formlogin">
          <fieldset>
            <div class="form-group">
              <input type="text" name="email" value="" class="form-control" placeholder="Your Email*" required="">
            </div>
            <div class="form-group">
              <input type="password" value="" class="form-control" placeholder="Password*">
            </div>
            <div class="form-group at-btnarea">
              <span class="at-checkbox">
                <input id="at-login" type="checkbox" name="rememberme">
                <label for="at-login">Remember me here</label>
              </span>
              <button type="submit" class="at-btn">login</button>
            </div>
          </fieldset>
        </form>
        <span class="at-optionsbar"><em>or</em></span>
        <div class="at-loginicon">
          <ul>
            <li><a href="javascript:void(0);" class="at-facebookbox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
            <li><a href="javascript:void(0);" class="at-googlebox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
          </ul>
        </div>
      </div>
        <div class="modal-footer">
        <div class="at-popup-footerterms">
          <span>By signing in  you agree to these <a href="javascript:void(0);"> Terms &amp; Conditions</a> &amp; consent to<a href="javascript:void(0);"> Cookie Policy &amp; Privacy Policy.</a></span>
        </div>
        <div class="at-loginfooterinfo">
          <a href="javascript:void(0);"><em>Not a member?</em> Signup Now</a>
          <a href="javascript:;" class="at-forgot-password">Forgot password?</a>
        </div>
        </div>
    </div>
  </div>
</div>
<!-- Login Popup End-->
<!-- Register Popup Start-->
<div class="modal fade at-loginpopup" tabindex="-1" role="dialog" id="registerpopup" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="at-modalcontent modal-content">
      <div class="at-popuptitle">
        <h4>Register</h4>
        <a href="javascript:void(0);" class="at-closebtn close"><i class="lnr lnr-cross" data-dismiss="modal"></i></a>
      </div>
      <div class="modal-body">
        <form class="at-formtheme at-formlogin">
          <fieldset>
            <div class="form-group">
              <input type="text" name="email" value="" class="form-control" placeholder="Your Email*" required="">
            </div>
            <div class="form-group">
              <input type="password" value="" class="form-control" placeholder="Password*">
            </div>
            <div class="form-group">
              <input type="password" value="" class="form-control" placeholder="Retype Password*">
            </div>
            <div class="form-group at-btnarea">
              <button type="submit" class="at-btn">Register</button>
            </div>
          </fieldset>
        </form>
        <span class="at-optionsbar"><em>or</em></span>
        <div class="at-loginicon">
          <ul>
            <li><a href="javascript:void(0);" class="at-facebookbox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
            <li><a href="javascript:void(0);" class="at-googlebox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
          </ul>
        </div>
      </div>
        <div class="modal-footer">
        <div class="at-popup-footerterms">
          <span>By signing in  you agree to these <a href="javascript:void(0);"> Terms &amp; Conditions</a> &amp; consent to<a href="javascript:void(0);"> Cookie Policy &amp; Privacy Policy.</a></span>
        </div>
        <div class="at-loginfooterinfo">
          <a href="javascript:void(0);"><em>Have Account?</em> Login Now</a>
          <a href="javascript:;" class="at-forgot-password">Forgot Your Password?</a>
        </div>
        </div>
    </div>
  </div>
</div>
<!-- Register Popup End-->
<!-- Find Property Popup Start-->
<div class="modal fade at-findpropertypopup" tabindex="-1" role="dialog" id="findproperty" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="at-modalcontent modal-content">
      <div class="at-slider-content">
        <div class="at-title">
          <h4>Start Your Search Here</h4>
          <a href="javascript:void(0);" class="at-closebtn close"><i class="lnr lnr-cross" data-dismiss="modal"></i></a>
        </div>
        <div class="at-findpropertypopup-content at-haslayout">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 float-left">
              <form class="at-formtheme at-formbanner">
                <fieldset class="at-datetime">
                  <div class="form-group">
                    <div class="at-select">
                      <select >
                        <option value="" hidden>Where You Want To Stay</option>
                        <option value="twitter">China</option>
                        <option value="linkedin">France</option>
                        <option value="rss">Germany</option>
                        <option value="vimeo">Italy</option>
                        <option value="tumblr">Japan</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="at-selectdate-holder">
                      <div class="at-select">
                        <label>Check-In:</label>
                        <input type="text" id="at-startdatetwo" class="form-control" placeholder="date">
                      </div>
                      <div class="at-select">
                        <label>Check Out:</label>
                        <input type="text" id="at-enddatetwo" class="form-control" placeholder="date">
                      </div>
                      <a href="javascript:void(0);" class="at-calendarbtn"><i class="ti-calendar"></i></a>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="at-guestsform">
                  <legend class="at-formtitle">Guests</legend>
                  <div class="form-group">
                    <ul class="at-guestsinfo">
                      <li>
                        <div class="at-gueststitle">
                          <span>Adults</span>
                        </div>
                        <div class="at-guests-radioholder">
                          <span class="at-radio">
                            <input id="at-adults1p" type="radio" name="adults" value="adults" checked="">
                            <label for="at-adults1p">01</label>
                          </span>
                          <span class="at-radio">
                            <input id="at-adults2p" type="radio" name="adults" value="adults2">
                            <label for="at-adults2p">02</label>
                          </span>
                          <span class="at-radio">
                            <input id="at-adults3p" type="radio" name="adults" value="adults3">
                            <label for="at-adults3p">03</label>
                          </span>
                          <div class="at-dropdown">
                            <span><em class="selected-search-type">Other </em><i class="ti-angle-down"></i></span>
                          </div>
                          <div class="at-radioholder">
                            <span class="at-radio">
                              <input id="at-adults4p" data-title="04" type="radio" name="adults" value="adults4">
                              <label for="at-adults4p">04</label>
                            </span>
                            <span class="at-radio">
                              <input id="at-adults5p" data-title="05" type="radio" name="adults" value="adults5">
                              <label for="at-adults5p">05</label>
                            </span>
                            <span class="at-radio">
                              <input id="at-adults6p" data-title="06" type="radio" name="adults" value="adults6">
                              <label for="at-adults6p">06</label>
                            </span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="at-gueststitle">
                          <span>Children <em>(Ages 2–12)</em></span>
                        </div>
                        <div class="at-guests-radioholder">
                          <span class="at-radio">
                            <input id="at-adultsv1p" type="radio" name="adultsv" value="adultsv1">
                            <label for="at-adultsv1p">01</label>
                          </span>
                          <span class="at-radio">
                            <input id="at-adultsv2p" type="radio" name="adultsv" value="adultsv2">
                            <label for="at-adultsv2p">02</label>
                          </span>
                          <span class="at-radio">
                            <input id="at-adultsv3p" type="radio" name="adultsv" value="adultsv3" checked="">
                            <label for="at-adultsv3p">03</label>
                          </span>
                          <div class="at-dropdown">
                            <span><em class="selected-search-type">Other </em><i class="ti-angle-down"></i></span>
                          </div>
                          <div class="at-radioholder">
                            <span class="at-radio">
                              <input id="at-adultsv4p" data-title="04" type="radio" name="adultsv" value="adultsv4">
                              <label for="at-adultsv4p">04</label>
                            </span>
                            <span class="at-radio">
                              <input id="at-adultsv5p" data-title="05" type="radio" name="adultsv" value="adultsv5">
                              <label for="at-adultsv5p">05</label>
                            </span>
                            <span class="at-radio">
                              <input id="at-adultsv6p" data-title="06" type="radio" name="adultsv" value="adultsv6">
                              <label for="at-adultsv6p">06</label>
                            </span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="at-gueststitle">
                          <span>Infants <em>(Under 2)</em></span>
                        </div>
                        <div class="at-guests-radioholder">
                          <span class="at-radio">
                            <input id="at-adultsv11" type="radio" name="adultsb" value="adultsb" checked="">
                            <label for="at-adultsv11">01</label>
                          </span>
                          <span class="at-radio">
                            <input id="at-adultsv2bp" type="radio" name="adultsb" value="adults2b">
                            <label for="at-adultsv2bp">02</label>
                          </span>
                          <span class="at-radio">
                            <input id="at-adults3bp" type="radio" name="adultsb" value="adults3b">
                            <label for="at-adults3bp">03</label>
                          </span>
                          <div class="at-dropdown">
                            <span><em class="selected-search-type">Other </em><i class="ti-angle-down"></i></span>
                          </div>
                          <div class="at-radioholder">
                            <span class="at-radio">
                              <input id="at-adults4bp" data-title="04" type="radio" name="adultsb" value="adults4b">
                              <label for="at-adults4bp">04</label>
                            </span>
                            <span class="at-radio">
                              <input id="at-adults5bp" data-title="05" type="radio" name="adultsb" value="adults5b">
                              <label for="at-adults5bp">05</label>
                            </span>
                            <span class="at-radio">
                              <input id="at-adults6bp" data-title="06" type="radio" name="adultsb" value="adults6b">
                              <label for="at-adults6bp">06</label>
                            </span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="col-12 col-md-12 col-lg-6 float-left">
              <form class="at-formtheme at-formbanner">
                <fieldset class="at-roomform">
                  <legend class="at-formtitle">Room Type</legend>
                  <div class="form-group">
                    <div class="at-room-radioholder at-room-radiovtwo">
                      <span class="at-radio">
                        <input id="at-privatep" type="radio" name="privatep" checked>
                        <label for="at-privatep">
                          <img src="images/radio-imgs/img-04.jpg" alt="img">
                          <span><em>Private Room</em> (58,1250)</span>
                        </label>
                      </span>
                      <span class="at-radio">
                        <input id="at-sharedp" type="radio" name="privatep">
                        <label for="at-sharedp">
                          <img src="images/radio-imgs/img-05.jpg" alt="img">
                          <span><em>Shared Room</em> (31,5245)</span>
                        </label>
                      </span>
                      <span class="at-radio">
                        <input id="at-entirep" type="radio" name="privatep">
                        <label for="at-entirep">
                          <img src="images/radio-imgs/img-06.jpg" alt="img">
                          <span><em>Entire Place</em> (22,4523)</span>
                        </label>
                      </span>
                    </div>
                  </div>
                  <div class="form-group at-btnarea">
                    <a href="javascript:void(0);" class="at-btn">Search Now</a>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Find Property Popup End-->