<div class="col-lg-12 mt-8">
  <div class="card mt-3">
    <div class="card-body">
      <div class="row mt-3">
        <div class="col-sm-6">
          <h4 class="mb-3"><%= @apartment.title %><br> Available: <%= @apartment.arrival_date.strftime('%d-%m-%Y') %> To <%= @apartment.departure_date.strftime('%d-%m-%Y') %></h4>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <% @apartment.images.each do |image| %>
                <div class="carousel-item <%= @apartment.active_class(image) %>">
                    <%= image_tag url_for(image), class: "d-block w-100", style:"width:500px; height:360px;" %> 
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="row">
            <div class="col-lg-12 mt-5">
              <div class="card">
                <div class="card-body">
                  <div class="media mb-5">
                    <div class="media-body">
                      <p><%= t('apartment.shower_room') %>: <%= @apartment.shower_room %></p>
                      <p><%= t('apartment.floor') %>: <%= @apartment.floor %></p>
                      <p><%= t('apartment.total_bedrooms') %>: <%= @apartment.total_bedrooms %></p>
                      <p><%= t('apartment.area') %>: <%= @apartment.area %></p>
                      <p><%= t('apartment.distance_from_university') %>: <%= @apartment.distance_from_university %></p>
                      <p><%= t('apartment.description') %>: <%= @apartment.description %></p>
                      <p><%= t('apartment.other_facilities') %>: <%= @apartment.other_facilities %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%= link_to 'Back', apartments_path, class: 'btn btn-dark mt-4 pr-4 pl-4' %>
          <% if current_user.administrative_role? %>
            <%= link_to 'Edit', edit_apartment_path(@apartment), class: 'btn btn-primary mt-4 pr-4 pl-4' %>
            <%= link_to  apartment_path(@apartment), method: :delete, data: { confirm: t('confirmation') }, class: 'btn btn-danger mt-4 pr-4 pl-4' do %>Delete
            <% end %>
          <% else %>
            <%= link_to 'Book Now', new_booking_path(apartment_id: @apartment&.id), remote: true, class:"btn btn-primary mt-4 pr-4 pl-4" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="booking_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('booking.book_now') %></h5>
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<% if @similar_apartments.present? %>
  <h2 style='text-align:center', class='mt-3'>Similar Accomodations </h2>
  <% @similar_apartments.each do |apartment| %>
    <div class="col-lg-4 col-md-6 mt-5">
      <div class="card card-bordered">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <% apartment.images.each do |image| %>
              <div class="carousel-item <%= apartment.active_class(image) %>">
                <%= image_tag url_for(image), class: "d-block w-100", style:"width:640px; height:300px;" %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="card-body">
          <h5 class="title"><%= apartment.title %></h5>
          <h6 class="card-text"><%= t('apartment.area') %>: <%= apartment.area %></h6>
          <h6 class="card-text"><%= t('apartment.total_bedrooms') %>: <%= apartment.total_bedrooms %></h6>
          <%= link_to  'View more', apartment_path(apartment), class: 'btn btn-primary mt-4' %> 
        </div>
      </div>
    </div>
  <% end %>
<% end %>
