<!DOCTYPE html>
<html>
  <head>
    <title>ApartmentBooking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag controller_name %>
    <%= javascript_include_tag controller_name %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh015i50EB_Ol2dxNvgd11iJBYJhfpziI&callback=initMap"
    async defer></script>
  </head>

  <body>
    <div class="page-container">
      <div class="main-content">
        <%= render 'shared/header' %>
        <%= render 'shared/messages' %>
        <div class="main-content-inner">
          <%= yield %>
        </div>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
