<!DOCTYPE html>
<html>
  <head>
    <title>Bonapart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'dashboard' %>
    <%= javascript_include_tag 'dashboard' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(Rails.env.to_sym, :google_map_api_key) %>"></script>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href=<%= asset_url("favicon-icons/apple-icon-57x57.png") %> >
    <link rel="apple-touch-icon" sizes="60x60" href=<%= asset_url("favicon-icons/apple-icon-60x60.png") %> >
    <link rel="apple-touch-icon" sizes="72x72" href=<%= asset_url("favicon-icons/apple-icon-72x72.png") %> >
    <link rel="apple-touch-icon" sizes="76x76" href=<%= asset_url("favicon-icons/apple-icon-76x76.png") %> >
    <link rel="apple-touch-icon" sizes="114x114" href=<%= asset_url("favicon-icons/apple-icon-114x114.png") %> >
    <link rel="apple-touch-icon" sizes="120x120" href=<%= asset_url("favicon-icons/apple-icon-120x120.png") %> >
    <link rel="apple-touch-icon" sizes="144x144" href=<%= asset_url("favicon-icons/apple-icon-144x144.png") %> >
    <link rel="apple-touch-icon" sizes="152x152" href=<%= asset_url("favicon-icons/apple-icon-152x152.png") %> >
    <link rel="apple-touch-icon" sizes="180x180" href=<%= asset_url("favicon-icons/apple-icon-180x180.png") %> >
    <link rel="icon" type="image/png" sizes="192x192"  href=<%= asset_url("favicon-icons/android-icon-192x192.png") %> >
    <link rel="icon" type="image/png" sizes="32x32" href=<%= asset_url("favicon-icons/favicon-32x32.png") %> >
    <link rel="icon" type="image/png" sizes="96x96" href=<%= asset_url("favicon-icons/favicon-96x96.png") %> >
    <link rel="icon" type="image/png" sizes="16x16" href=<%= asset_url("favicon-icons/favicon-16x16.png") %> >
    <link rel="manifest" href=<%= asset_url("favicon-icons/manifest.json") %> >
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <%= render "shared/sidebar" %>
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
      <%= render 'shared/sidebar_header' %>

        <%= yield %>

    </div>
    <!-- Right Panel -->
  </body>
</html>
