<div id="preloader">
  <div class="loader"></div>
</div>
<div class="login-area login-s2">
  <div class="container">
    <div class="login-box ptb--100">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="login-form-head">
          <h4>Sign Up</h4>
        </div>
        <div class="login-form-body">
          <div class="form-gp focused">
            <label for="exampleInputName1">First name</label>
            <%= f.text_field :firstname, id: 'exampleInputName1' %>
            <i class="ti-user"></i>
          </div>
          <div class="form-gp focused">
            <label for="exampleInputName1">Last name</label>
            <%= f.text_field :lastname, id: 'exampleInputName1' %>
            <i class="ti-user"></i>
          </div>
          <div class="form-gp focused">
            <label for="exampleInputName1">Phone no.</label>
            <%= f.text_field :phone_no, id: 'exampleInputName1' %>
            <i class="ti-mobile"></i>
          </div>
          <div class="form-gp focused">
            <label for="exampleInputName1">Birthdate</label>
            <%= f.text_field :birthdate, id: 'exampleInputName1' %>
            <i class="ti-calendar"></i>
          </div>
          <div class="form-gp focused">
            <div class="custom-control custom-radio">
              <%= f.label :male %>
              <%= f.radio_button :gender, "Male", id: 'customRadio1', class: 'custom-control-input' %>
              <label class="custom-control-label" for="customRadio1"></label>
            </div>
            <div class="custom-control custom-radio">
              <%= f.label :female %>
              <%= f.radio_button :gender, "Female", id: 'customRadio2', class: 'custom-control-input' %>
              <label class="custom-control-label" for="customRadio2"></label>
            </div>
          </div>
          <div class="form-gp focused">
            <label for="exampleInputName1">Address</label>
              <%= f.text_field :address, id: 'exampleInputName1' %>
            <i class="ti-home"></i>
          </div>
          <div class="form-gp focused">
            <label for="exampleInputName1">Username</label>
              <%= f.text_field :username, id: 'exampleInputName1' %>
            <i class="ti-user"></i>
          </div>
          <div class="form-gp focused">
            <label for="exampleInputName1">email</label>
              <%= f.text_field :email, id: 'exampleInputName1' %>
            <i class="ti-email"></i>
          </div>
          <div class="form-gp focused">
            <label for="exampleInputPassword1">Password</label>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password" %>
            <i class="ti-lock"></i>
          </div>
          <div class="form-gp focused">
            <label for="exampleInputName1">Password confirmation</label>
            <%= f.password_field :password_confirmation, id: 'exampleInputName1' %>
            <i class="ti-lock"></i>
          </div>
          <div class="submit-btn-area">
            <button id="form_submit" type="submit">Sign up <i class="ti-arrow-right"></i></button>
          </div>
          <div class="form-footer text-center mt-5">
            <p class="text-muted"><%= render "users/shared/links" %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
