<div id="preloader">
  <div class="loader"></div>
</div>

<div class="login-area login-s2">

  <div class="container">
    <div class="ptb--100">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
        <div class="login-form-head">
          <h4><%= t('users.sign_up') %></h4>
        </div>
        <div class="">
          <div class="row">
            <div class="form-gp focused col-sm-6">
              <%= form.label t('users.firstname'), class:"col-form-label lbl" %><br/>
              <%= form.text_field :firstname, id: '' %>
              <i class="ti-user"></i>
            </div>
            <div class="form-gp focused col-sm-6">
              <%= form.label t('users.lastname'), class:"col-form-label lbl" %><br/>
              <%= form.text_field :lastname, id: '' %>
              <i class="ti-user"></i>
            </div>
          </div>
          <div class="row">
            <div class="form-gp focused col-sm-6">
              <%= form.label t('users.phone_no'), class:"col-form-label lbl" %><br/>
              <%= form.text_field :phone_no, id: '' %>
              <i class="ti-mobile"></i>
            </div>
            <div class="form-gp focused col-sm-6">
              <%= form.label t('users.birthdate'), class:"col-form-label lbl" %><br/>
              <%= form.text_field :birthdate, id: '' %>
              <i class="ti-calendar"></i>
            </div>
          </div>
          <div class="row">
            <div class="form-gp focused col-sm-6">
              <%= form.label t('users.gender'), class:"col-form-label lbl" %><br/>
              <div class="custom-control custom-radio custom-control-inline">
                <%= form.label :male %>
                <%= form.radio_button :gender, "Male", id: 'customRadio1', class: 'custom-control-input' %>
                <label class="custom-control-label male" for="customRadio1"></label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <%= form.label :female %>
                <%= form.radio_button :gender, "Female", id: 'customRadio2', class: 'custom-control-input' %>
                <label class="custom-control-label female" for="customRadio2"></label>
              </div>
            </div>
            <div class="form-gp focused col-sm-6">
              <%= form.label t('users.address'), class:"col-form-label lbl" %><br/>
              <%= form.text_field :address, id: '' %>
              <i class="ti-home"></i>
            </div>
          </div>
          <div class="row">
            <div class="form-gp focused col-sm-6">
              <%= form.label t('users.username'), class:"col-form-label lbl" %><br/>
              <%= form.text_field :username, id: '' %>
              <i class="ti-user"></i>
            </div>
            <div class="form-gp focused col-sm-6">
              <%= form.label t('users.email'), class:"col-form-label lbl" %><br/>
              <%= form.text_field :email, id: '' %>
              <i class="ti-email"></i>
            </div>
          </div>
          <div class="row">
            <div class="form-gp focused col-sm-6">
              <%= form.label t('users.password'), class:"col-form-label lbl" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> <%= t('users.min_character') %>)</em>
              <% end %><br/>
              <%= form.password_field :password, autocomplete: "new-password" %>
              <i class="ti-lock"></i>
            </div>
            <div class="form-gp focused col-sm-6">
              <%= form.label t('users.confirm_password'), class:"col-form-label lbl" %><br/>
              <%= form.password_field :password_confirmation, id: '' %>
              <i class="ti-lock"></i>
            </div>
          </div>
          <div class="row">
            <div class="form-gp focused col-sm-6">
              <%= form.label t('users.sign_up_as'), class:"col-form-label lbl" %><br/>
              <%= select_tag(:roles, options_for_select(Role.all.pluck(:name)), class: "form-control selectpicker", include_blank: t('user.select_role')) %>
            </div>
            <div class="form-gp focused col-sm-6">
              <%= form.label t('users.profile_pic'), class:"col-form-label lbl" %><br/>
              <%= form.file_field :image, multiple: false, class: "form-control select" %>
            </div>
          </div>
          <div class="submit-btn-area">
            <button id="form_submit" type="submit"><%= t('users.sign_up') %> <i class="ti-arrow-right"></i></button>
          </div>
          <div class="form-footer text-center mt-5">
            <p class="text-muted"><%= render "users/shared/links" %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>